{% extends "base.html" %}
{% load staticfiles %}
{% block title %}capstagram{% endblock %}

{% block content %}
	<hr />
	<img src="{{ post.image.url }}" width="300px" height="300px"/>
	<pre>{{ post.content }}</pre>
	
	<h4>comments({{ post.comment_set.count }})</h4>
	<ul id="comments" data-post-id="{{ post.id }}">
		{% for comment in post.comment_set.all %}
		<li id="#comment_{{ comment.id }}">
			<p>{{ comment.user.username }} : </p>
			<p>{{ comment.content }}</p>
			<br />
		</li>
		{% endfor %}
	</ul>

{% if request.user.is_authenticated %}
	<form action="" method="post">
		{% csrf_token %}
		<textarea id="content" name="content" cols="30" rows="10"></textarea>
		<input id="submit" type="submit" value="확인">
	</form>
{% else %}
 <p> 댓글을 달기 위해서는 로그인이 필요합니다. <a href="{% url "login" %}">로그인</a></p>

{% endif %}

<section>
	<h4>tags({{ post.tag_set.count }})</h4>
	<ul>
		{% for tag in post.tag_set.all %}
		<li>
			<a href="">
				{{ tag.full_name }}
			</a>
		</li>
		{% endfor %}
	</ul>

	<form action="{% url 'post-tags' post.hash_id %}" method="post">
		{% csrf_token %}
		<input type="text" name="name" required>
		<input type="submit" value="태그 등록">
	</form>
</section>
{% endblock %}