{% extends 'base.html' %}
{% load ordering %}

{% block title %}{{request.user.username}}{% endblock %}
{% block content %}
 <div class="col-md-8">
	<div class="title">
		<h4>ID : {{request.user.username}}</h4>	
	</div>
	<div class="content">
		<span class="label label-info">팔로잉 {{ request.user.follower_set.count }}</span>
		<span class="label label-info">팔로워 {{ request.user.followee_set.count }}</span>
		<p></p>
		<pre>{{request.user.descriptions}}</pre>
	</div>
</div>
<!-- <ul>
	{% for user in request.user.follower_set.all %}
	<li>
		<span>{{ user.username }}</span>
		<a href="{% url 'unfollow' user.username %}" role="button" name="unfollow">언팔로우</a>
	</li>
	{% endfor %}
</ul> -->

<br><hr><br>

<h4>Posts({{ request.user.post_set.count }})</h4>
{% for post in request.user.post_set.all|ordering %}
<div class="col-md-5">
		<a href="{% url 'detail' post.hash_id %}">
			<img
	             src="{{ post.image.url }}"
	             class="img-responsive"
	          />
		</a>
</div>
<div class="space"></div>
{% endfor %}

{% endblock %}